html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(44, 44, 44);
}

img {
    background-color: rgb(245, 245, 220, .8);
    width: 500px;
    padding: 24px;
    border: 2px solid black;
    margin: 5px auto;
    display: block;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.thumbnail {
    width: 200px;
    background-color: 0;
    margin: 10px 10px;
}

li {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

p{
    font-style: italic;
    background-color: rgb(245, 245, 220, .5);
    padding: 16px;
    width: 500px;
    margin: 20px auto;
}